version: '3.4'
networks:
  backend:
services:
  poliklinika.api:
    image: ${DOCKER_REGISTRY-}poliklinikaapi
    build:
      context: .
      dockerfile: Poliklinika.Api/Dockerfile
    
  
  SqlServer:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Numsey#2022
    ports:
      - "1433:1433"
    volumes:
      - ./poliklinika-data:/var/lib/postgresql/data
    
      
  getaway.api:
    image: ${DOCKER_REGISTRY-}getawayapi
    build:
      context: .
      dockerfile: Getaway/Getaway.Api/Dockerfile


  restarant.api:
    image: ${DOCKER_REGISTRY-}restarantapi
    build:
      context: .
      dockerfile: Restarant/Restarant.Api/Dockerfile

